#Every time you push code, GitHub automatically verifies that your app can still be built into a Docker image

name: Build Docker Image

on:
  push: 
    branches: [ "main" ]
    pull_request: 

jobs: 
  build: 
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t fastapi-stock-app .